*{
    box-sizing: border-box;
}
.card-column {
    width: 25%;
    float: left;
    padding: 0px 10px;
    
}
.category-cards {
    margin: 0px -5px;
}
.category-cards::after {
    content: "";
    display: table;
    clear: both;
}
.card_c {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 300px; 
}
